<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if Map.has_key?(assigns, :page_title) do %>
      <title>Katbin - <%= @page_title %></title>
    <% else %>
      <title>Katbin</title>
    <% end %>
    <title itemprop="name">Katbin</title>

    <meta property="og:type" content="object">
    <meta property="og:title" content="Katbin">
    <meta property="og:image" content="/favicon.ico">

    <meta name="twitter:title" content="Katbin">
    <meta itemprop="name" content="Katbin">
    <meta name="application-name" content="Katbin">
    <meta property="og:site_name" content="Katbin">
    <meta name="theme-color" content="#1a1a1a">
    <meta property="og:locale" content="en">
    <meta name="language" content="en">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Spherical_Kat">
    <meta name="twitter:image" content="/favicon.ico">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="keywords" content="paste,pastebin,url,urlshortener,url-shortener,code,programming,bin,cat,kat,paste,share,save,login">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="HandheldFriendly" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-title" content="Katbin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">

    <%= if assigns[:paste] do %>
        <meta name="description" content={@paste.content}>
        <meta itemprop="description" content={@paste.content}>
        <meta property="og:description" content={@paste.content}>
        <meta name="twitter:description" content={@paste.content}>

        <meta name="url" content={"https://katb.in/#{@paste.id}"}>
        <meta name="twitter:url" content={"https://katb.in/#{@paste.id}"}>
        <meta property="og:url" content={"https://katb.in/#{@paste.id}"}>
    <% else %>
        <meta name="description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
        <meta property="og:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
        <meta itemprop="og:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
        <meta name="twitter:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">

        <meta name="url" content="https://katb.in">
        <meta name="twitter:url" content="https://katb.in">
        <meta property="og:url" content="https://katb.in">
    <% end %>

    <link rel="stylesheet" href={ Routes.static_path(@conn, "/assets/app.css") }/>
    <script defer type="text/javascript" src={ Routes.static_path(@conn, "/assets/app.js") }></script>
  </head>
  <body class="flex flex-col ">
    <header class="flex w-full justify-between items-center py-3 px-6">
     <a href={ Routes.page_path(@conn, :index) }>
        <span class="font-semibold text-xl tracking-tight">
          <span class="text-amber text-xl">&lt;Kat</span>bin/&gt;
        </span>
      </a>

      <nav role="navigation">
        <ul>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li>
            <%# <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
            </li>
          <% end %>
        </ul>
        <%= render "_user_menu.html", assigns %>
      </nav>

    </header>
    <main class="flex flex-col w-full h-full max-h-full overflow-hidden bg-light-grey" role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <footer class="font-bold">
    <div class="flex px-4 py-1 text-xs sm:text-base justify-between text-amber" style="background: #1a1a1a; font-family: JetbrainsMono">
      <a href="https://sphericalk.at">
        © <%= DateTime.utc_now().year %> SphericalKat
      </a>
      <a href="https://github.com/sphericalkat/katbin">
        Fork me!
      </a>
      </div>
    </footer>
  </body>
</html>
